@use "vars" as v;
.contact {
  @include v.flex(space-between, left);
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;

  @media (min-width: v.$breakpoint-md) {
    gap: 60px;
    margin: 60px 0;
  }

  @media (min-width: v.$breakpoint-lg) {
    // display: flex;
    flex-direction: row;
    margin: 60px auto;
  }
  @media (min-width: v.$breakpoint-xl) {
    max-width: 1360px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 1 47%;
  }

  &__item {
    font-size: 21px;
    line-height: 1.4;
    width: fit-content;
    &.phone {
      @include v.link(var(--main-color));
      margin-bottom: -15px;
    }
    &.email {
      @include v.link;
    }
  }

  &__slash {
    @include v.slash;
  }

  &__box {
    margin-bottom: -15px;
  }

  &__social {
    @include v.link;
    display: inline-block;
    align-items: center;
    font-size: 0;
    width: fit-content;
    span {
      display: inline-block;
      text-transform: uppercase;
      padding: 4px 0 0 10px;
      font-size: 12px;
      line-height: 1.3;
      font-weight: 700;
    }
    svg {
      width: 38px;
      height: 38px;
    }
  }
}
