@use "vars" as v;

.form {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background: var(--gray-bg-color);
  border: none;
  border-radius: v.$rounded-md;

  @media (min-width: v.$breakpoint-lg) {
    max-height: fit-content;
    max-width: 650px;

    &::backdrop {
      background: var(--main-color);
      opacity: 0.7;
    }
  }

  &__container {
    display: flex;
    max-width: 650px;
    flex-direction: column;
    border: transparent;
    border-radius: v.$rounded-md;
    padding: 30px;

    gap: 30px;
    background: var(--gray-bg-color);
  }

  &__title {
    @include v.title(transparent);
    @include v.text-gradient;
    font-size: 30px;
    padding-right: 32px;
  }

  &__button-container {
    position: relative;
    border: none;
  }
  &__close-button {
    width: 32px;
    height: 32px;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    border-radius: v.$rounded-sm;
    transition: v.$transition-deley;
    svg {
      width: 100%;
      height: 100%;
    }
    @include v.hover {
      background-color: var(--gray-separator-color);
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__input {
    width: 100%;
    height: 56px;
    background-color: var(--white-color);
    padding: 15px;
    border-radius: v.$rounded-sm;

    &::placeholder {
      color: var(--gray-text-color);
    }
    &:focus {
      border: 1px var(--brand-regular-color) solid;
      --gray-text-color: rgba(0, 0, 0, 1);
    }
  }
  &__textarea {
    min-height: 130px;
    border: none;
  }

  &__subtitle {
    @include v.title;
    text-transform: uppercase;
    font-size: 14px;
  }
  &__send-button {
    @include v.title(var(--white-color));
    width: 100%;
    padding: 18px 0;
    text-align: center;
    border-radius: v.$rounded-md;
    background-color: var(--brand-regular-color);
    box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
    cursor: pointer;
    @include v.hover {
      background-color: var(--brand-hover-color);
    }
    &:active {
      background-color: var(--brand-active-color);
    }
  }
}
