@use "vars" as v;
.footer {
  background: var(--gray-bg-color);
  margin-top: auto;
  &__container {
    @include v.flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 30px;
    position: relative;

    &.footer-border {
      border-top: v.$border-sm var(--gray-separator-color);
      padding-top: 30px;
    }

    @media (min-width: v.$breakpoint-md) {
      align-items: center;
      padding: 30px 0 30px 0;

      &.footer-algn-itm {
        align-items: start;
      }
    }
    @media (min-width: v.$breakpoint-lg) {
      align-items: start;
    }
  }
  &__contacts-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 10px;

    @media (min-width: v.$breakpoint-md) {
      align-items: start;
      flex-direction: row;
      align-items: center;
    }
  }
  &__address {
  }

  &__link {
    @include v.title(var(--brand-regular-color));
    @include v.link;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__social {
    @include v.link;
    svg {
      width: 38px;
      height: 38px;
      display: inline-block;
      //   color: var(--brand-regular-color);
    }
  }

  &__tel {
    @include v.link(var(--main-alt-color));
    font-weight: 700;
  }

  &__mail {
    @include v.link;
    font-weight: 700;
  }

  &__copyright {
    margin-top: 30px;
    color: var(--gray-text-color);
    @media (min-width: v.$breakpoint-md) {
      &.footer-main {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 30px;
      }
    }
    @media (min-width: v.$breakpoint-lg) {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 30px;
    }
  }
}
.footer__contacts-container:first-child {
  margin-bottom: 21px;
}
