@use "vars" as v;

body {
  font-family: v.$main-font;
  font-weight: 400;
  color: var(--white-color);
}

.wrapper {
  background: var(--super-soft-gradient);
  border-bottom-right-radius: v.$rounded-md;
  border-bottom-left-radius: v.$rounded-md;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20px;
    right: 20px;
    height: 10px;
    background: #cacadb;
    border-bottom-right-radius: v.$rounded-md;
    border-bottom-left-radius: v.$rounded-md;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    right: 40px;
    height: 10px;
    background: #e7e7f2;
    border-bottom-right-radius: v.$rounded-md;
    border-bottom-left-radius: v.$rounded-md;
  }
}
.container {
  padding: 0 30px;
  @media (min-width: v.$breakpoint-md) {
    margin: 0 auto;
    max-width: 708px;
  }
  @media (min-width: v.$breakpoint-lg) {
    max-width: 964px;
  }
  @media (min-width: v.$breakpoint-xl) {
    max-width: 1380px;
  }
  @media (min-width: v.$breakpoint-xxl) {
    max-width: 1660px;
  }
}
.dotted {
  display: none;
  @media (min-width: v.$breakpoint-md) {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: v.$rounded-full;

    &--default {
      background: var(--gray-separator-color);
    }
  }
}
