@use "vars" as v;

body {
  font-family: v.$main-font;
  font-weight: 400;
  color: var(--white-color);
}

.wrapper {
  background: var(--super-soft-gradient);
}
.container {
  padding: 0 30px;
  @media (min-width: v.$breakpoint-md) {
    margin: 0 auto;
    max-width: 708px;
  }
  @media (min-width: v.$breakpoint-lg) {
    max-width: 964px;
  }
  @media (min-width: v.$breakpoint-xl) {
    max-width: 1380px;
  }
  @media (min-width: v.$breakpoint-xxl) {
    max-width: 1660px;
  }
}
.dotted {
  display: none;
  @media (min-width: v.$breakpoint-md) {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: v.$rounded-full;

    &--default {
      background: var(--gray-separator-color);
    }
  }
}
