@use "vars" as v;

body {
  font-family: v.$main-font;
  font-weight: 400;
  color: var(--white-color);
}

.wrapper {
  background: var(--super-soft-gradient);
}
.container {
  padding: 0 30px;
}
.dotted {
  display: none;
  @media (min-width: v.$breakpoint-md) {
    // зробити точки
  }
}
