@use "vars" as v;

.head {
  @include v.flex(space-between, stretch);
  flex-direction: column;
  min-height: 100vh;
  background: url("../img/icons/h-symbol.svg") no-repeat center/auto 100%;

  &__header {
  }
  &__title {
    @include v.title(var(--white-color));
    font-size: v.$font-xl;
    text-align: center;
    margin: 0 auto;
    text-transform: lowercase;
    line-height: 1.2;
  }
  &__link {
    border: var(--white-color) 2px solid;
    border-radius: v.$rounded-full;
    width: 42px;
    height: 42px;
    margin: 0 auto 30px;
    position: relative;
    transition: v.$transition-deley;

    &:hover {
      --white-color: rgba(240, 20, 90, 1);
    }

    &::before {
      width: 14px;
      height: 14px;
      content: "";
      position: absolute;
      top: 9px;
      left: 12px;
      border-bottom: var(--white-color) v.$border-sm;
      border-right: var(--white-color) v.$border-sm;
      transform: rotate(45deg);
    }
  }
}

// HEADER

.header {
  @media (min-width: v.$breakpoint-md) {
    padding-top: 50px;
  }
  &__container {
    @media (min-width: v.$breakpoint-md) {
      display: flex;
      flex-flow: column;
      gap: 30px;
    }
    @media (min-width: v.$breakpoint-lg) {
      gap: 16px;
    }
  }
  &__inner {
    @include v.flex;
    background: rgba(245, 245, 250, 0.2);
    margin: 0 -30px;
    padding: 10px 15px;
    align-items: center;

    @media (min-width: v.$breakpoint-md) {
      background: none;
      padding: 0;
      margin: 0;
      justify-content: flex-start;
      gap: 6px;
    }
    @media (min-width: v.$breakpoint-lg) {
      justify-content: flex-end;
      position: relative;
    }
  }
  &__lang {
    display: flex;
  }
  &__lang-item {
    font-size: 12px;
    padding: 5px 7px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: v.$rounded-sm;
    cursor: pointer;
    &.active {
      background: var(--accent-color);
    }
    &:hover {
      @include v.hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

  //   BURGER-MENU
  &__box-burger {
    position: relative;
    width: 32px;
    height: 32px;
    margin-left: auto;
    cursor: pointer;
    border-radius: v.$rounded-sm;

    &:active {
      background: var(--main-soft-color);
    }

    @media (min-width: v.$breakpoint-md) {
      display: none;
    }

    &::before,
    &::after,
    span {
      content: "";
      position: absolute;
      top: 8px;
      left: 6px;
      right: 6px;
      height: 2px;
      background: var(--white-color);
    }

    &::after {
      top: auto;
      bottom: 8px;
    }

    span {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  //   LOGO
  &__box {
    @include v.flex(flex-start, flex-start);
    margin: 0 -15px;
    padding: 15px 0 10px;

    svg {
      height: 26px;
      width: 12px;
      @media (min-width: v.$breakpoint-md) {
        height: 47px;
        width: 21px;
      }
    }

    @media (min-width: v.$breakpoint-md) {
      margin: 0;
      padding: 0;
    }
    @media (min-width: v.$breakpoint-lg) {
      position: absolute;
      top: 50px;
      left: auto;
    }
    &-name {
      color: var(--white-color);
      font-size: 20px;

      @media (min-width: v.$breakpoint-md) {
        font-size: 36px;
      }
    }
  }
  &__box-logo {
    display: block;
    width: 69px;
    height: 32px;
    img {
      width: 100%;
      height: 100%;
    }

    @media (min-width: v.$breakpoint-md) {
      width: 130px;
      height: 60px;
    }
  }

  //   NAVIGATION
  &__nav {
    position: fixed;
    z-index: 10;
    top: 100%;
    left: 8px;
    right: 8px;
    padding: 12px;
    text-align: center;
    background: var(--white-color);
    border-top-left-radius: v.$rounded-md;
    border-top-right-radius: v.$rounded-md;
    transition: transform v.$transition-deley;

    &.active {
      transform: translateY(-100%);
    }
    @media (min-width: v.$breakpoint-md) {
      position: static;
      transform: translateY(0);
      background: 0;
      padding: 0;
      z-index: 0;
      width: fit-content;
    }
    @media (min-width: v.$breakpoint-lg) {
      justify-content: flex-end;
      margin-left: auto;
    }
  }
  &__nav-list {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    text-transform: lowercase;
    gap: 15px;

    @media (min-width: v.$breakpoint-md) {
      flex-direction: row;
      width: auto;
      padding: 0;
    }
  }
  &__nav-close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: block;
    margin: 0 0 20px auto;

    @media (min-width: v.$breakpoint-md) {
      display: none;
    }
  }
  &__nav-item {
  }
  &__nav-link {
    display: inline-block;
    @include v.link(var(--brand-regular-color));
    @include v.title(var(--brand-regular-color));
    background: var(--gray-bg-color);

    border-radius: v.$rounded-md;
    width: 100%;
    font-size: 24px;
    border-bottom: 2px solid transparent;
    padding: 7px 0;
    transition: all 0.5s linear;

    &.active {
      color: var(--accent-color);
    }
    &:active {
      background: var(--gray-separator-color);
      color: var(--brand-regular-color);
    }

    @media (min-width: v.$breakpoint-md) {
      font-size: 16px;
      color: var(--white-color);
      @include v.hover {
        border-color: var(--white-color);
        --accent-color: #fff;
      }
      border-radius: 0;
      background: 0;

      &.active {
        border-color: var(--accent-color);
      }
      &:active {
        background: none;
        color: var(--accent-color);
        border-color: var(--accent-color);
      }
    }
  }

  &__tel {
    @include v.link(var(--white-color));
    font-weight: 700;
  }
  &__address {
    color: var(--gray-text-color);
    display: none;

    @media (min-width: v.$breakpoint-md) {
      display: inline-block;
    }
  }
  &__social {
    display: none;
    svg {
      @include v.link;
      width: 24px;
      height: 24px;
      color: var(--white-color);
    }
    @media (min-width: v.$breakpoint-md) {
      display: inline-block;
    }
  }
}

// .default--dotted {
// }
