@use "vars" as v;

.services {
  margin-top: 30px;
  &__link {
    @include v.link-title;
  }
  @media (min-width: v.$breakpoint-md) {
    margin-top: 60px;
  }

  &__title {
    @include v.title(transparent);
    @include v.text-gradient;
    font-size: 30px;
    padding-top: 10px;
  }

  &__list {
    @include v.flex(space-between, stretch);
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px 0 60px 0;

    @media (min-width: v.$breakpoint-md) {
      padding-top: 60px;
      gap: 60px;
    }
  }

  &__item {
    flex: 1 1 100%;

    a {
      text-decoration: none;
      display: inline-block;
    }

    @media (min-width: v.$breakpoint-md) {
      flex: 1 1 45%;
    }
    @media (min-width: v.$breakpoint-lg) {
      flex: 1 1 28%;
    }
    &-title {
      @include v.title(var(--brand-regular-color));
      padding-top: 30px;

      a {
        @include v.link;
      }
    }
    &-text {
      color: var(--white-color);
      padding-top: 15px;
      line-height: 1.6;
    }
    svg {
      width: 92px;
      height: 92px;
    }
  }
}
