@use "vars" as v;

.services {
  margin-top: 30px;
  &__link {
    @include v.link;
    @include v.title(var(--brand-regular-color));
    position: relative;
    padding-right: 10px;

    &::before {
      transform: rotate(-41deg);
      content: "";
      position: absolute;
      border-right: var(--brand-regular-color) 2px solid;
      border-bottom: var(--brand-regular-color) solid 2px;
      top: 7px;
      right: 1px;
      width: 7px;
      height: 7px;
    }
  }

  &__title {
    @include v.title(transparent);
    @include v.text-gradient;
    font-size: 30px;
    padding-top: 10px;
  }

  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px 0 60px 0;

    @media (min-width: v.$breakpoint-md) {
      padding-top: 60px;
      gap: 60px;
    }
  }

  &__list-item {
    flex: 1 1 100%;

    @media (min-width: v.$breakpoint-md) {
      flex: 1 1 45%;
    }
    @media (min-width: v.$breakpoint-lg) {
      flex: 1 1 28%;
    }

    svg {
      width: 92px;
      height: 92px;
    }

    &--title {
      @include v.title(var(--brand-regular-color));
      padding-top: 30px;
    }
    &--text {
      padding-top: 15px;
      line-height: 26px;
    }
  }
}
