@use "vars" as v;

.service {
  padding: 30px 0 60px 0;

  @media (min-width: v.$breakpoint-md) {
    padding: 60px 0;
  }
  @media (min-width: v.$breakpoint-xxl) {
    max-width: 1360px;
    margin: 0 auto;
  }
  &__info {
    @include v.flex(center);
    flex-direction: column;
    gap: 28px;
    padding-bottom: 30px;

    svg {
      width: 92px;
      height: 92px;
    }
    @media (min-width: v.$breakpoint-md) {
      padding-bottom: 60px;
    }
  }

  &__info-title {
    @include v.title(transparent);
    @include v.text-gradient;
    font-size: 30px;
    text-align: center;

    @media (min-width: v.$breakpoint-md) {
      font-size: 38px;
    }
  }

  &__info-text {
    font-size: 19px;
    line-height: 1.9;
    text-align: center;

    p + p {
      padding-top: 28px;
    }
  }

  &__button {
    @include v.title(var(--white-color));
    margin: 0 auto;
    background-color: var(--brand-regular-color);
    padding: 18px 30px;
    border-radius: v.$rounded-md;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  }

  &__area {
    border-top: #ffffff80 v.$border-ml;
    padding-top: 34px;
  }

  &__area-title {
    @include v.title(--white-color);
    font-size: 22px;
    padding-bottom: 30px;
  }

  &__area-list {
    @media (min-width: v.$breakpoint-md) {
      columns: 2;
      column-gap: 40px;
    }
  }

  &__area-item {
    font-size: 18px;
    padding-left: 14px;
    position: relative;
    margin-bottom: 15px;
    line-height: 1.6;
    break-inside: avoid;

    &::before {
      width: 6px;
      height: 6px;
      background-color: var(--accent-color);
      border-radius: v.$rounded-full;
      content: "";
      position: absolute;
      top: 12px;
      left: 2px;
    }
  }
}
