@use "vars" as v;

.service {
  padding: 30px 0 60px 0;

  @media (min-width: v.$breakpoint-md) {
    padding: 60px 0;
  }
  @media (min-width: v.$breakpoint-xxl) {
    max-width: 1360px;
    margin: 0 auto;
  }
  &__info {
    @include v.flex(center);
    flex-direction: column;
    gap: 28px;
    padding-bottom: 30px;

    svg {
      width: 92px;
      height: 92px;
    }
    @media (min-width: v.$breakpoint-md) {
      padding-bottom: 60px;
    }
  }

  &__info-title {
    @include v.title(transparent);
    @include v.text-gradient;
    font-size: 30px;
  }

  &__info-text {
    font-size: 19px;
    line-height: 1.9;
    text-align: center;

    p + p {
      padding-top: 28px;
    }
  }

  &__button {
    @include v.title(var(--white-color));
    margin: 0 auto;
    background-color: var(--brand-regular-color);
    padding: 18px 30px;
    border-radius: v.$rounded-md;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  }

  &__area {
    border-top: #ffffff80 v.$border-ml;
    padding-top: 34px;
  }
  //   &__list-container {
  //     @media (min-width: v.$breakpoint-md) {
  //       @include v.flex;
  //       gap: 60px;
  //     }
  //   }

  &__area-title {
    @include v.title(--white-color);
    font-size: 22px;
    padding-bottom: 30px;
  }

  &__area-list {
    // @media (min-width: v.$breakpoint-md) {
    //   display: grid;
    //   grid-template-columns: repeat(2, 1fr);
    //   column-gap: 60px;
    //   row-gap: 15px;
    //   grid-auto-flow: column;
    // }
  }

  &__area-item {
    font-size: 18px;
    padding-left: 14px;
    position: relative;
    margin-bottom: 15px;
    line-height: 1.6;
    break-inside: avoid;

    // @media (min-width: v.$breakpoint-md) {
    //   float: left;
    //   width: 50%;
    //   padding-right: 40px;
    // }

    &::before {
      width: 6px;
      height: 6px;
      background-color: var(--accent-color);
      border-radius: v.$rounded-full;
      content: "";
      position: absolute;
      top: 7px;
      left: 2px;
    }
  }
}

// dialog {
//   margin: 0;
//   padding: 0;
//
//   background: transparent;
//   box-shadow: none;

//   width: auto;
//   height: auto;
//   max-width: none;
//   max-height: none;
// }
// FORM

.contact-form {
  border-radius: 12px;
  padding: 30px 0;
  border: none;
  //   width: 100wp;
  //   height: 100wh;
  width: 100%;
  height: 100%;
  background: var(--gray-bg-color);

  &__input-container {
  }
}
.form {
  &__title {
    @include v.title(transparent);
    @include v.text-gradient;
    font-size: 30px;
  }

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    svg {
      width: 32px;
      height: 32px;
    }
  }

  &__input {
    width: 100%;
  }

  &__subtitle {
  }
}
.service__area-list {
  @media (min-width: v.$breakpoint-md) {
    columns: 2;
    column-gap: 40px;
  }
}
