@use "fonts";
@use "reset";
@use "header";
@use "vars" as v;
@use "global";
@use "tabs";
@use "services";
@use "partners";
@use "publications";
@use "footer";
@use "team";
@use "service";
@use "contact-form";
@use "contact";
